body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eee;
}

*{
    box-sizing: border-box;
}

form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
    width: 500px;
    height: 459px;
}

form input, textarea{
display: flex;
flex-direction: column;
width: 100%;
margin: 12px auto;
padding: 9px;
font-family: 'Times New Roman', Times, serif;
background-color: #eeeaea;
border: 1px solid #ddd;

}

.me{
    filter: drop-shadow(0 1px #766fa0);
                    background: linear-gradient(var(--clr-i), var(--clr-ii));
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button{
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background: linear-gradient(var(--clr-i), var(--clr-ii));
    color: #fff;
}