header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 3px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/bg2.jpg);

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
       
        
        img{
            height: 30px;

        }

        h1{
            font-size: 18px;
        }

        i{
            background: linear-gradient(#8d86b5 , #90a0f2);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    nav{
        flex: 1;


        ul{
            position: relative;
            display: flex;
            align-items: center;
            list-style: none;
            gap: 32px;
            padding: 9px 20px;


            li{
                font-size: 14px;
                cursor: pointer;
                z-index: 1;


                a{
                    text-decoration: none;
                    color: black;
                }

                &.active a{
                    color: white;

                }
            }

            .indicator{
                position: absolute;
                height: 100%;
                width: 70px;
                background-color: black;
                border-radius: 100px;
                translate: -14px;
                transition: .2s ease-out;
                z-index: 1;
            }
        }
    }

  .profile{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;


    img{
        height: 35px;
        aspect-ratio: 1;
        border-radius: 100px;
        object-fit: cover;
        margin-right: 15px;
        translate: 0 -150%;
        transition: 0.3s ease;
      
    }

    &.active img{
        translate: 0;
    }
  }


}